<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @board.name %>
</p>

<p>
  <b>Size:</b>
  <%= @board.size %>
</p>


<table>
	<tr>
		<th>Firstname</th>
		<th>Name</th>
	</tr>
	<% @board.surfers.each do |surfer| %>
	<tr>
		<td><%= surfer.firstname %></td>
		<td><%= surfer.name %></td>
	</tr>
	<% end %>
</table>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
