<%= form_for(@surfer) do |f| %>
  <% if @surfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@surfer.errors.count, "error") %> prohibited this surfer from being saved:</h2>

      <ul>
      <% @surfer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
	<div class="field">
    <%= f.label :tel %><br />
    <%= f.text_field :tel %>
  </div>


	<%= collection_select(:surfer, :state_id, State.all, :id, :name_capitalize) %> <br />

	<% Board.all.each do |board| %>
		<%= input_checkbox_boards board, @surfer %>
		<%= board.name %>
	<% end %>
	
	
	<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
