<% form_for @surfer, :html => { :multipart => true } do |f| %>
<!-- <%= form_for(@surfer) do |f| %> -->
  <% if @surfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@surfer.errors.count, "error") %> prohibited this surfer from being saved:</h2>

      <ul>
      <% @surfer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %> 
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
	<div class="field">
    <%= f.label :tel %><br />
    <%= f.text_field :tel %>
  </div>
	<div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
	<div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

	<%= collection_select(:surfer, :state_id, State.all, :id, :name_capitalize) %> <br />
	<br />
	
	<% Board.all.each do |board| %>
		<%= input_checkbox_boards board, @surfer %>
		<%= board.name %>
	<% end %>
	<br />
	
  <%= f.file_field :photo %>
	
	<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>