<h1>Listing surfers</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Name</th>
    <th>Email</th>
    <th>Tel</th>
    <th></th>
  </tr>

<% @surfers.each do |surfer| %>
  <tr>
    <td><%= surfer.firstname %></td>
    <td><%= surfer.name %></td>
    <td><%= surfer.email %></td> 
   	<td><%= surfer.tel %></td> 
		<td><%= link_to 'Show', surfer %></td>
    <td><%= link_to 'Edit', edit_surfer_path(surfer) %></td>
    <td><%= link_to 'Destroy', surfer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Surfer', new_surfer_path %>
