<p id="notice"><%= notice %></p>
<%= image_tag @surfer.photo.url(:small) %>

<p>
  <b>Firstname:</b>
  <%= @surfer.firstname %>
</p>

<p>
  <b>Name:</b>
  <%= @surfer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @surfer.email %>
</p>

<p>
  <b>Tel:</b>
  <%= @surfer.tel %>
</p>

<table>
	<tr>
		<th>Name</th>
		<th>Size</th>
	</tr>
	<% @surfer.boards.each do |board| %>
	<tr>
		<td><%= board.name %></td>
		<td><%= board.size %></td>
	</tr>
	<% end %>
</table>

<%= link_to 'Edit', edit_surfer_path(@surfer) %> |
<%= link_to 'Back', surfers_path %>

	
	