<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @surfer.firstname %>
</p>

<p>
  <b>Name:</b>
  <%= @surfer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @surfer.email %>
</p>


<%= link_to 'Edit', edit_surfer_path(@surfer) %> |
<%= link_to 'Back', surfers_path %>
