<div class="menu">
	<div class="sous_menu arrondi">
		<h3>Le lieu:</h3>
			<ul>
				<li><%= menu_link_to "Présentation", root_url(:anchor=>"presentation") %></li>
				<li><%= menu_link_to "Géographie", root_url(:anchor=>"geographie") %></li>
				<li><%= menu_link_to "Histoire", root_url(:anchor=>"histoire") %></li>
				<li><%= menu_link_to "Loisirs", root_url(:anchor=>"loisirs") %></li>
				<li><%= menu_link_to "Faune et flore", root_url(:anchor=>"faune_flore") %></li>
			</ul>
	</div>
	<div class="sous_menu arrondi">
		<h3>Surf:</h3>
			<ul>
				<li><%= menu_link_to "Les caractéristiques du site", surf_url(:anchor=>"caracteristique") %></li>
				<li><%= menu_link_to "Les concours", surf_url(:anchor=>"concours") %></li>
			</ul>
	</div>
	<div class="sous_menu arrondi">
		<h3>Photos:</h3>
			<ul>
				<li><%= menu_link_to "Photos plage", photos_url(:anchor=>"plage") %></li>
				<li><%= menu_link_to "Photos surf", photos_url(:anchor=>"surf") %></li>
			</ul>
	</div>
	<div class="sous_menu arrondi">
		<h3>Data Base:</h3>
			<ul>
				<li><%= menu_link_to "Surfers", surfers_path %></li>
				<li><%= menu_link_to "Boards", boards_path %></li>
			</ul>
	</div>
</div>
