<!DOCTYPE html>
<html>
<head>
  <title>La Torche : <%= @title %></title>
  <%= stylesheet_link_tag :all %>
 	<%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body class="arrondi">
	<div id="en_tete">
		<%= @time %> <%= say_hello %>
	 
		<h1><%= @title %></h1> 
	</div>
	<%= render(:partial => "application/menu") %>

	<%= yield %>
	
	<div class="footer" id="footer">
		<a href="#en_tete"> Haut de page </a><br />
	</div>

	<div id="pied_de_page" class="pied_de_page arrondi"><p>
		Code et Design par Neya. Premier site avec Ruby On Rails.
		2011.<br />
		Me contacter <%= mail_to "yann.r.77@gmail.com", "e-mail", :encode => "javascript" %></p>
	</div>
</body>

</html>
